#body{
    background-image: url(Fundo\ site\ Login.png);
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    text-align: center;
   }

input{
    width: 400px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
}
button{
    font-size: 13px;
    width: 90px;
    height: 40px;
    border-radius: 6px;
    opacity: calc(80%);
}
button:hover{
    background-color: rgb(76, 242, 156);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
    opacity: calc(100%);
    width: 95px;
    height: 45px;
}

#Home{
    background-image: url(Fundo\ site\ Login.png);
}
